
@{
    ViewData["Title"] = "UploadFile";
}

<h1>UploadFile</h1>

<form class="needs-validation" asp-action="SaveProfileData" enctype="multipart/form-data">
    <input class="form-control-file" type="file" value="null" name="files" id="files" placeholder="Restaurant Image Url">
    <button type="submit">file</button>
</form>